@media(max-width:2500px){
    .features-section img {
        width: 100%;
    }
    .feature-txt {
        padding: 160px;
    }
    .features-section .feature-txt h2 {
        color: rgb(0, 35, 51, 0.9);
        font-size: 42px;
        line-height: 52px;
        font-style: normal;
    }
    .feature-txt {
        padding: 160px;
    }
    .features-section .feature-txt p {
        font-size: 20px;
        line-height: 30px;
    }
}


@media(max-width:1399px){
    .feature-txt {
        padding: 50px 70px;
    }
    .features-section .feature-txt p {
        font-size: 17px;
    }
}
/* ====================== */
@media(max-width:1199px){
    .features-section img {
        width: 100%;
    }
    .features-section .feature-txt p {
        font-size: 15px;
        line-height: 25px;
    }
    .feature-txt {
        padding: 40px 50px 25px 50px;
    }
    .features-section .feature-txt h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .features-section .feature-txt span {
        height: 5px;
        margin: 15px 0;
    }

    .features-section .feature-txt .btn {
        font-size: 15px;
        font-weight: 500;
        padding: 9px 28px;
        transition: 0.3s;
    }
    .client-section .carousel {
        padding: 0 35px;
    }
    .compare-section .compare-inner p{
        padding: 0;
    
    }

}
/* ====================== */
@media(max-width:991px){
    .banner-section {
        height: 600px;
    }
    .banner-txt h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .banner-inner span {
        height: 80px;
        position: absolute;
        margin-top: 50px;
    }
    .banner-inner {
        padding: 50px 0px;
    }
    .banner-txt p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .banner-inner {
        padding: 55px 0px;
    }
    .compare-inner h3 {
        font-size: 31px !important;
        line-height: 41px;
    }
    .compare-section .compare-inner p {
        font-size: 15px;
        line-height: 24px;
        margin: 20px 0px;
    }
    .compare-section .compare-inner .btn {
        font-size: 14px;
        font-weight: 500;
    }
    .feature-txt {
        padding: 40px 20px 40px 20px;
    }
    .features-section .feature-txt p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .features-section .feature-txt h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .features-section .feature-txt .btn {
        font-size: 14px;
        padding: 9px 24px;
    }
    .video-intro-part {
        padding: 30px 0px;
    }
    .intro-head h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .client-section .carousel {
        padding: 0;
    }
    .client-section .carousel-item {
        font-size: 14px;
        line-height: 24px;
    }
    .footer-inner h1 {
        font-size: 38px;
        line-height: 48px;
        margin: 20px 0px;
    }
    
    .footer-inner .btn {
        font-size: 15px;
        font-weight: 500;
        margin: 30px 0 60px;
        padding: 10px 25px;
    }
    .footer-list ul li a {
        font-size: 14px;
    }
    .footer-list p {
        font-size: 13px;
        
    }
    .footer-section {
        padding: 20px 0px 10px;
    }
    .myteam {
        margin: 0px 10px;
    }



}
/* ====================== */
@media(max-width:767px){
    .banner-section {
        height: 535px;
    }
    .banner-txt h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .banner-txt h6 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    .myteam {
        padding: 0px;
        text-align: center;
    }
    .banner-inner span {
       display: none;
    }
    .banner-txt p {
        margin-bottom: 40px;
    }
    .myteam .mybtn {
        font-size: 15px;
        padding: 12px 25px;
        font-weight: 600;
    }
    .rr {
        margin: 3px 6px;
        width: 85px;
    }
    .banner-txt h1 {
        font-size: 31px;
    }
    .myteam h5 {
        font-size: 15px;
        margin-bottom: 12px;
    }
    .compare-inner h3 {
        font-size: 31px !important;
    }
    .client-section .carousel {
        padding: 0;
    }
    .features-section .feature-txt h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .feature-txt {
        padding: 15px 5px 35px 15px;
    }
    .features-section img {
        margin-top: 30px;
        height: 79%;
        border-radius: 6px;
    }
    .features-section .feature-txt span {
        height: 3px;
        margin: 10px 0;
    }
    .features-section .feature-txt p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .features-section .feature-txt h2 {
        font-size: 25px;
    }
    .features-section .feature-txt .btn {
        padding: 9px 16px;
    }
    .video-intro-part {
        padding: 0;
    }
    .intro-head h2 {
        font-size: 24px;
        line-height: 29px;
        margin: 15px 0px 0px 0px;
    }
    .client-section{
        width: 100%;
    }
    .client-section .col-sm-8 {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .footer-inner h1 {
        font-size: 35px;
        line-height: 45px;
        margin: 10px 0px;
    }
    .footer-list ul li a {
        margin: 11px;
        text-decoration: none;
    }
    .footer-list span {
        height: 18px;
        margin-top: 4px;
    }
    .footer-list p {
        font-size: 12px;
    }
    .footer-inner .btn {
        font-size: 14px;
    }
    .navbar-collapse {
        margin: 25px 0px;
    }
    .header-section .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
        margin: 6px 15px;
        font-weight: 600;
    }
}
/* ====================== */
@media(max-width:575px){
    .banner-txt h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .banner-txt p {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px;
    }
    .myteam {
        padding: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .myteam .btn {
        font-size: 15px;
        padding: 10px 47px;
        font-weight: 500;
    }
    .myteam .mybtn {
        font-size: 15px;
        padding: 12px 25px;
        font-weight: 500;
    }
    .compare-inner h3 {
        font-size: 26px !important;
        line-height: 36px;
    }
    .compare-section {
        padding: 30px 0px;
    }
    .compare-section .compare-inner p {
        font-size: 14px;
        line-height: 24px;
        margin: 15px 0px;
    }
    .compare-section .compare-inner .btn {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
        margin-top: 10px;
    }
    .features-section {
        width: 100%;
        padding: 10px 0px;
    }
    .features-section img {
        border-radius: 20px;
        width: 100%;
        padding: 12px 12px 0px 12px;
    }
    .features-section .col-6{
        width: 50%;
    }
    .feature-txt {
        padding: 10px 20px 30px 20px;
    }
    .features-section .feature-txt h2 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .features-section .feature-txt p {
        display: none;
    }
    .features-section img {
        border-radius: 6px;
        padding: 0;
        height: 85%;
    }
    .features-section .feature-txt h2 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 14px;
    }
    .feature-txt {
        padding: 40px 20px 18px 20px;
    }
    .features-section .feature-txt .btn {
        font-size: 12px;
        padding: 7px 15px;
        margin-top: 10px;
    }
    .features-section .feature-txt span {
        width: 45px;
        height: 3px;
        margin: 8px 0;
    }
    iframe {
        height: 200px;
    }
    .intro-head h2 {
        font-size: 20px;

        margin: 0px 0px 20px 0px;
    }
    .intro-head {
        width: 100%;
        padding: 30px 0px;
    }
    .client-section .hd-client img {
        padding: 25px 0px 0px 0px;
    }
    .footer-inner h1 {
        font-size: 26px;
        line-height: 36px;
        margin: 10px 0px;
    }
    .footer-list ul{
        padding-left: 0;
    }
}
/* ====================== */
@media(max-width:400px){
    .banner-txt h1 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .banner-txt p {
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .banner-txt h6 {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .myteam h5 {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .myteam .btn {
        font-size: 14px;
        padding: 10px 30px;
        font-weight: 400;
    }
    .myteam .mybtn {
        font-size: 14px;
        padding: 12px 10px;
        font-weight: 500;
    }
    .banner-section {
        height: 500px;
    }
    .compare-inner h3 {
        font-size: 22px !important;
        line-height: 32px;
    }
    .compare-section {
        padding: 20px 0px;
    }
    .compare-inner span {
        width: 25%;
        height: 4px;
        margin: 15px auto;
    }
    .compare-section .compare-inner p {
        font-size: 13px;
    }
    .compare-section .compare-inner .btn {
        font-size: 13px;
        font-weight: 400;
        padding: 10px 12px;
    }
    .features-section .feature-txt h2 {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 14px;
    }
    .features-section img {
        height: 80%;
    }
    .intro-head h2 {
        font-size: 16px;
        margin: 0px 0px 8px 0px;
    }
    .intro-head {
        width: 100%;
        padding: 20px 0px;
    }
    .client-section .testimonial {
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    .footer-inner h1 {
        font-size: 22px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .footer-inner .btn {
        font-size: 12px;
    }
    .footer-inner .btn {
        font-size: 13px;
        font-weight: 400;
        margin: 30px 0 60px;
        padding: 10px 18px;
    }
    .footer-list ul li a {
        margin: 10px;
        text-decoration: none;
    }
    .navbar-light .navbar-toggler-icon {
        display: none;
    }

   
}
/* ====================== */